<link type="text/css" rel="stylesheet" href= "/style.css"/>

<% if (invalid) { %>
  <h3>Invalid username or password.  Try again.</h3>
<% } %>

<div class="header">
  <div class="right">
    <a href="/">Home</a>
    <a href="/signup">Signup</a>
  </div>
</div>

<form method="post" action="/login">
  <ul>
    <li><input type="text" placeholder="username" name="userName" /></li>
    <li><input type="text" placeholder="password" name="password" /></li>
    <li><input type="submit" value="login" /></li>
  </ul>
</form>